@{
    Layout = "_AdminLayout";
}



<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-chart-pie mr-1"></i>
            Ini Judul
        </h3>

    </div><!-- /.card-header -->
    <div class="card-body">
        <h2>Ini Area Admin</h2>

        <a href="/account/logout" class="btn btn-danger">
            Logout
        </a>
    </div><!-- /.card-body -->
</div>
